<!DOCTYPE html>
<html lang="en-US">
<body>

<div class="profile_toolbar">
  <div class="left-stack">
    <%= button_to '<', worlds_path, method: :get, id: "return_button", class: "big-circle-button"%>
  </div>
  <div class="center-stack">
    <div id="flash_partial"></div>
    <div id="flash">
      <% if flash[:notice] %>
        <div class="alert world-creation-alert-box">
          <div class="alert_icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
            <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21.707,12.707l-7.56,7.56 c-0.188,0.188-0.442,0.293-0.707,0.293s-0.52-0.105-0.707-0.293l-3.453-3.453c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0 l2.746,2.746l6.853-6.853c0.391-0.391,1.023-0.391,1.414,0S22.098,12.316,21.707,12.707z"></path>
          </svg></div>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert world-creation-alert-box">
          <div class="alert_icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
            <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21.707,12.707l-7.56,7.56 c-0.188,0.188-0.442,0.293-0.707,0.293s-0.52-0.105-0.707-0.293l-3.453-3.453c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0 l2.746,2.746l6.853-6.853c0.391-0.391,1.023-0.391,1.414,0S22.098,12.316,21.707,12.707z"></path>
          </svg></div>
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div style="display: flex; flex-direction: column; align-items: center;">
    <div class="world-center">
      <h3>Are you sure you want to delete this world?</h3>
      <%= button_to 'Yes', world_path(id: world.id), method: :delete, :remote => true, :class => "button", onclick: "flashFadeOut()" %>
      <%= button_to 'No', worlds_path, method: :get, :class => "button" %>
    </div>
</div>

<script>
    $(document).ready(function(){
        setTimeout(function(){
            $('#flash').fadeOut();
        }, 2000);
    })
</script>
</body>
</html>