<!DOCTYPE html>
<html lang="en-US">
<head>
  <style>
  </style>
  <title></title>
</head>
<body>
<div class="nav-container">
  <div class="box-numeric">
    <%= if @user.available_credits == nil
          0 else @user.available_credits end %>
    <div class="left-stack" style="text-align: center; margin: auto">
      <%= button_to '+', "users/purchase", method: :get, id: "purchase_button", style: "background-color: #A7BCC7;"%>
    </div>
  </div>
  <div class="left-stack">
    <h1 style="text-align: center; color: antiquewhite">Welcome, User <%= @user.display_name %></h1>
  </div>
</div>

<div class="tab">
  <button class="tab-links active" onclick="openTab(event, 'public-worlds')">Public Worlds</button>
  <button class="tab-links" onclick="openTab(event, 'private-worlds')">Private Worlds</button>
  <button class="tab-links" onclick="openTab(event, 'friend-list')">Friends</button>
</div>

<div class="scroll-independent-div-br">
  <%= button_to '+', new_world_path, method: :get, id: "create_button", class: "big-circle-button"%>
</div>

<div id="public-worlds" class="tab-content active">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <% @public_worlds.each do |world| %>
      <div class="world-box">
        <h3><%= world.world_name %></h3>
        <p>Code: <%= world.world_code %></p>
        <p>Max Players: <%= world.max_player %></p>
        <%= button_to "Join", action: "join_world", id: "world_#{world[:id]}"%>
      </div>
    <% end %>
  </div>
</div>

<div id="private-worlds" class="tab-content">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <% @private_worlds.each do |world| %>
      <div class="world-box">
        <h3><%= world.world_name %></h3>
        <p>Code: <%= world.world_code %></p>
        <p>Max Players: <%= world.max_player %></p>
        <%= button_to "Join", action: "join_world", id: "world_#{world[:id]}"%>
      </div>
    <% end %>
  </div>
</div>

<div id="friend-list" class="tab-content">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <div class="world-box">
      <p>Sorry, you currently have no friend</p>
      <%= form_tag "/worlds", method: :get, id: 'add_friend_form' do %>
        <%= submit_tag 'Add friend', id: 'add_friend_button' %>
      <% end %>
    </div>
  </div>
</div>

<script>
    function openTab(evt, tabName) {
        let i, tab_content, tab_links;
        tab_content = document.getElementsByClassName("tab-content");
        for (i = 0; i < tab_content.length; i++) {
            tab_content[i].classList.remove("active");
        }
        tab_links = document.getElementsByClassName("tab-links");
        for (i = 0; i < tab_links.length; i++) {
            tab_links[i].classList.remove("active");
        }
        document.getElementById(tabName).classList.add("active");
        evt.currentTarget.classList.add("active");
    }
</script>

</body>
</html>