<!DOCTYPE html>
<html lang="en-US">
<head>
  <title></title>
</head>
<body>

<div class="profile_toolbar">
  <%= button_to 'Log Out', users_login_path, method: :get, id: "logout_button", class:"secondary_button"%>
  <div class="center-stack">
<<<<<<< HEAD
    <h1 style="font-size: 35px; margin: 15px 0 0;">Welcome, <%= @cur_user.display_name %></h1>
  </div>
  <div class="box-numeric">
    <%= if @user.available_credits == nil
          0 else @user.available_credits end %>
    <div class="left-stack" style="text-align: center; margin: auto">
      <%= button_to '+', "users/purchase", method: :get, id: "purchase_button", style: "background-color: #A7BCC7;"%>
    </div>
  </div>
=======
    <h1>Worlds</h1>
    <div>
      <%= button_to 'Create New World', new_world_path, method: :get, id: "create_button", class:"secondary_button"%>
    </div>
  </div>
  <h1 style="font-size: 25px; margin: 0;">Welcome, <%= @cur_user.display_name %></h1>
>>>>>>> 37c1534822b9a97f896bd05aaafd1df618bd2adb
</div>

<div class="tab">
  <button class="tab_links active" onclick="openTab(event, 'public_worlds')">Public Worlds</button>
  <button class="tab_links" onclick="openTab(event, 'private_worlds')">Private Worlds</button>
  <button class="tab_links" onclick="openTab(event, 'friend_list')">Friends</button>
<<<<<<< HEAD
</div>

<div class="scroll-independent-div-br">
  <%= button_to '+', new_world_path, method: :get, id: "create_button", class: "big-circle-button"%>
=======
>>>>>>> 37c1534822b9a97f896bd05aaafd1df618bd2adb
</div>

<div id="public_worlds" class="tab_content active">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <% @public_worlds.each do |world| %>
      <div class="world_box">
        <h3><%= world.world_name %></h3>
        <p>Code: <%= world.world_code %></p>
        <p>Max Players: <%= world.max_player %></p>
        <%= button_to "Join", {controller: "worlds", action: "join_world", id: "world_#{world[:id]}"}, class: "button" %>
      </div>
    <% end %>
  </div>
</div>

<div id="private_worlds" class="tab_content">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <% @private_worlds.each do |world| %>
      <div class="world_box">
        <h3><%= world.world_name %></h3>
        <p>Code: <%= world.world_code %></p>
        <p>Max Players: <%= world.max_player %></p>
        <%= button_to "Join", {controller: "worlds", action: "join_world", id: "world_#{world[:id]}"}, class: "button" %>
      </div>
    <% end %>
  </div>
</div>

<div id="friend_list" class="tab_content">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <div class="world_box">
      <p>Sorry, you currently have no friends. Add some below!</p>
<<<<<<< HEAD
      <%= button_to "Add Friend", worlds_path, id: "placeholder_button", class: "button", method: :get %>
=======
      <%= button_to "Add Friend", "#", id: "placeholder_button", class: "button", method: :post %>
>>>>>>> 37c1534822b9a97f896bd05aaafd1df618bd2adb
    </div>
  </div>
</div>

<script>
    function openTab(evt, tabName) {
        let i, tab_content, tab_links;
        tab_content = document.getElementsByClassName("tab_content");
        for (i = 0; i < tab_content.length; i++) {
            tab_content[i].classList.remove("active");
        }
        tab_links = document.getElementsByClassName("tab_links");
        for (i = 0; i < tab_links.length; i++) {
            tab_links[i].classList.remove("active");
        }
        document.getElementById(tabName).classList.add("active");
        evt.currentTarget.classList.add("active");
    }
</script>

</body>
</html>