<!DOCTYPE html>
<html lang="en-US">
<head>
  <title></title>
</head>
<body>
<div class="profile_toolbar">
  <div class="left-stack">
    <%= button_to 'Logout', users_logout_path, method: :get, id: "logout_button", class:"secondary_button"%>
  </div>
  <div class="center-stack">
    <h1 style="font-size: 35px; margin: 15px 0 0;">Welcome, <%= @cur_user.display_name %></h1>
    <div id="flash_partial"></div>
    <div id="flash">
      <% if flash[:notice] %>
        <div class="alert world-creation-alert-box">
          <div class="alert_icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
            <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21.707,12.707l-7.56,7.56 c-0.188,0.188-0.442,0.293-0.707,0.293s-0.52-0.105-0.707-0.293l-3.453-3.453c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0 l2.746,2.746l6.853-6.853c0.391-0.391,1.023-0.391,1.414,0S22.098,12.316,21.707,12.707z"></path>
          </svg></div>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert world-creation-alert-box">
          <div class="alert_icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
            <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21.707,12.707l-7.56,7.56 c-0.188,0.188-0.442,0.293-0.707,0.293s-0.52-0.105-0.707-0.293l-3.453-3.453c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0 l2.746,2.746l6.853-6.853c0.391-0.391,1.023-0.391,1.414,0S22.098,12.316,21.707,12.707z"></path>
          </svg></div>
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="right-stack">
    <div class="box-numeric">
      <%= if @cur_user.available_credits == nil
            0 else @cur_user.available_credits end %>
      <div class="left-stack" style="text-align: center; margin: auto">
        <%= button_to '+', users_purchase_path, method: :get, id: "purchase_button", class: "purchase-button"%>
      </div>
    </div>
  </div>

</div>

<div class="tab">
  <button class="small_button tab_active" onclick="openTab(event, 'public_worlds')">Public Worlds</button>
  <button class="small_button tab_button" onclick="openTab(event, 'private_worlds')">Private Worlds</button>
  <button class="small_button tab_button" onclick="openTab(event, 'friend_list')">Friends</button>
  <button class="small_button tab_button" onclick="openTab(event, 'friend_requests')">Friend Requests</button>
  <button class="small_button tab_button" onclick="openTab(event, 'world_invites')">World Invites</button>
</div>

<div id="public_worlds" class="tab_content active">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <% @public_worlds.each do |world| %>
      <div class="item_box world <%= world.world_name.split.join '_'%>" id= "<%= world.world_name.split.join '_'%>">
        <div class="world-left">
        </div>
        <div class="world-center">
          <h3><%= world.world_name %></h3>
          <p>Max Players: <%= world.max_player %></p>
          <%= button_to "Join", {controller: "worlds", action: "join_world", id: "world_#{world[:id]}", is_from_world: false}, class: "button" %>
        </div>
        <div class="world-right">
          <h3>Owned by <%=world.user.display_name %> </h3>
        </div>
      </div>
    <% end %>
  </div>

  <div class="scroll-independent-div-br">
    <%= button_to '+', new_world_path, method: :get, id: "create_button", class: "big-circle-button"%>
  </div>
</div>

<div id="private_worlds" class="tab_content">
  <div style="display: flex; flex-direction: column; align-items: center;" id="private_world_display">
    <% @private_worlds.each do |world| %>
      <div class="item_box world" id= "<%= world.world_name.split.join '_'%>">
        <div class="world-left">
        </div>
        <div class="world-center">
          <h3><%= world.world_name %></h3>
          <p>Max Players: <%= world.max_player %></p>
          <%= button_to "Join", {controller: "worlds", action: "join_world", id: "world_#{world[:id]}", is_from_world: false}, class: "button" %>
        </div>
        <div class="world-right">
          <h3>Owned by <%=world.user.display_name %> </h3>
        </div>
      </div>
    <% end %>
  </div>

  <div class="scroll-independent-div-br">
    <%= button_to '+', new_world_path, method: :get, id: "create_button", class: "big-circle-button"%>
  </div>
</div>

<div id="friend_list" class="tab_content">
  <div style="display: flex; flex-direction: column; align-items: center;" id="friend_list_display">
    <div class="world_box">
      <p id="no_friends">Sorry, you currently have no friends. Add some below!</p>
      <button class="button" id="add_friend_button" onclick="addFriend()">Add Friend</button>

      <div id="add_friend_container" style="display: none;">
        <p>Enter your friend's username:</p>
        <%= form_tag "/users/add_friend", :remote => true do %>
          <%= text_field_tag :friend_name, nil, id: 'friend_name', style: "height:30px", class: "textbox"%>
          <%= submit_tag 'Submit', id: 'submit_friend_button', class: "button", onClick: "submitFriend()" %>
        <% end %>
      </div>
    </div>
    <% @friends.each do |friend| %>
      <div class="item_box friend" id="friend_id_<%= friend.id %>">
        <div class="friend_left">
          <%= button_to 'Remove Friend', users_delete_friend_path(friend_id: friend.id), method: :delete, :remote => true, :class => "button", onclick: "flashFadeOut()", style: "margin-top: 10px" %>
        </div>
        <div class="friend_center">
          <h3><%= friend.display_name %></h3>
        </div>
        <div class="friend_right">
          <%= link_to 'Invite to World', world_invite_path(friend_id: friend.id), class: 'button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="friend_requests" class="tab_content">
  <div style="display: flex; flex-direction: column; align-items: center;" id="friend_request_list_display">
    <div id="no_requests" class="info_box">
      <p>You do not have any requests at the moment.</p>
    </div>
    <% @requested_friends.each do |friend| %>
      <div class="item_box friend" id="request_id_<%= friend.id %>">
        <div class="friend_left">
          <%= button_to 'Approve', users_approve_request_path(friend_id: friend.id), method: :post, remote: true, class: "accept_button", onclick: "flashFadeOut()", style: "margin-top: 5px" %>
          <%= button_to 'Reject', users_reject_request_path(friend_id: friend.id), method: :delete, remote: true, class: "not_accept_button", onclick: "flashFadeOut()", style: "margin-top: 5px; margin-left: 10px" %>
        </div>
        <div class="friend_center">
          <h3><%= friend.display_name %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="world_invites" class="tab_content">
  <div style="display: flex; flex-direction: column; align-items: center;" id="world_invite_list_display">
    <div id="no_invites" class="info_box">
      <p>You do not have any world invites at the moment.</p>
    </div>
    <% @world_invites.each do |invite| %>
      <div class="item_box friend" id="invite_id_<%= invite.id %>">
        <div class="friend_left">
          <%= button_to 'Approve', users_approve_invite_path(user_id: invite.user_id, world_id: invite.world_id), method: :post, remote:  true, class: "accept_button", onclick: "flashFadeOut()" %>
          <%= button_to 'Reject', users_reject_invite_path(user_id: invite.user_id, world_id: invite.world_id), method: :delete, remote: true, class: "not_accept_button", style: "margin-left: 10px", onclick: "flashFadeOut()" %>
        </div>
        <div class="friend_center">
          <h3><%= invite.world.world_name %></h3>
        </div>
        <div class="friend_right">
          <h3><%= "Sent by " + invite.world.user.display_name %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--These are all used to dynamically update the view, as there are actions done on the page that alter it.-->
<script>
    function openTab(evt, tabName) {
        let i, tab_content, tab_links;
        tab_content = document.getElementsByClassName("tab_content");
        for (i = 0; i < tab_content.length; i++) {
            tab_content[i].classList.remove("active");
        }
        tab_links = document.getElementsByClassName("tab_links");
        for (i = 0; i < tab_links.length; i++) {
            tab_links[i].classList.remove("active");
        }
        let active_buttons = document.getElementsByClassName("tab_active")
        console.log(active_buttons.length)
        for (i = 0; i < active_buttons.length; i++) {
            active_buttons[i].classList.add("tab_button")
            active_buttons[i].classList.remove("tab_active")
        }

        document.getElementById(tabName).classList.add("active");
        evt.currentTarget.classList.add("tab_active");
        evt.currentTarget.classList.remove("tab_button")
    }
</script>

<script>
  function flashFadeOut() {
      $('#flash_partial').show();
      setTimeout(function(){
          $('#flash_partial').fadeOut();
      }, 2000);
  }
</script>

<script>
  function addFriend() {
      document.getElementById('add_friend_button').style.display = 'none';
      document.getElementById('add_friend_container').style.display = 'block';
      document.getElementById('friend_name').value = '';
  }

  $(document).ready(function(){
      setTimeout(function(){
          $('#flash').fadeOut();
      }, 2000);
  })
</script>

<script>
    function submitFriend() {
        document.getElementById('add_friend_container').style.display = 'none';
        document.getElementById('add_friend_button').style.display = 'inline-block';

        $('#flash_partial').show();
        setTimeout(function(){
            $('#flash_partial').fadeOut();
        }, 2000);
    }
</script>

<script id="no_friend_message">
    window.noFriendMessage = function() {
      var friends = document.querySelectorAll('[id^="friend_id_"]');
      var friendsLength = friends.length;

      if (friendsLength > 0) {
          document.getElementById('no_friends').style.display = 'none'
      }
      else {
          document.getElementById('no_friends').style.display = 'block'
      }
  }

    window.noFriendMessage();
</script>

<script id="no_request_message">
    window.noRequestMessage = function() {
        var requests = document.querySelectorAll('[id^="request_id_"]');
        var requestLength = requests.length;

        if (requestLength > 0) {
          document.getElementById('no_requests').style.display = 'none'
      } else {
          document.getElementById('no_requests').style.display = 'block'
      }
  }

    window.noRequestMessage();
</script>

<script id="no_invite_message">
    window.noInviteMessage = function() {
        var invites = document.querySelectorAll('[id^="invite_id_"]');
        var inviteLength = invites.length;

        if (inviteLength > 0) {
            document.getElementById('no_invites').style.display = 'none'
        } else {
            document.getElementById('no_invites').style.display = 'block'
        }
    }

    window.noInviteMessage();
</script>

<script id="append_friend_box">
    function appendFriendBox(friend) {
        $('#friend_list_display').append(`
          <div class="item_box friend" id="friend_id_${friend.id}">
            <div class="friend_left">
              ${'<%= j button_to "Remove Friend", users_delete_friend_path(friend_id: "__REPLACE_ID__"), method: :delete, remote: true, class: "button" %>'.replace('__REPLACE_ID__', friend.id)}
            </div>
            <div class="friend_center">
              <h3>${friend.display_name}</h3>
            </div>
            <div class="friend_right">
              ${'<%= j link_to "Invite to World", world_invite_path(friend_id: "__REPLACE_ID__"), class: "button" %>'.replace('__REPLACE_ID__', friend.id)}
            </div>
        </div>
      `);
    }
</script>

<script id="append_world_box">
  function appendWorldBox(world, user) {
      $('#private_world_display').append(`
        <div class="item_box world" id="world_id_${world.world_name.split(' ').join('_')}">
          <div class="world-left">
          </div>
          <div class="world-center">
            <h3>${world.world_name}</h3>
            <p>Code: ${world.world_code}</p>
            <p>Max Players: ${world.max_player}</p>
            ${'<%= j button_to "Join", {controller: "worlds", action: "join_world", id: "__REPLACE_ID__"}, class: "button" %>'.replace('__REPLACE_ID__', "world_" + world.id)}
          </div>
          <div class="world-right">
            <h3>Owned by ${user.display_name}</h3>
          </div>
        </div>
      `);
  }
</script>

</body>
</html>