<!DOCTYPE html>
<html lang="en-US">
<body>

<div class="profile_toolbar">
  <div class="left-stack">
    <%= button_to '<', worlds_path, method: :get, id: "return_button", class: "big-circle-button"%>
  </div>
  <div class="center-stack">
    <h1 style="font-size: 35px; margin: 15px 0 0;">Sending an invite to <%= @friend.display_name%></h1>
    <div id="flash_partial"></div>
    <div id="flash">
      <% if flash[:notice] %>
        <div class="alert world-creation-alert-box">
          <div class="alert_icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
            <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21.707,12.707l-7.56,7.56 c-0.188,0.188-0.442,0.293-0.707,0.293s-0.52-0.105-0.707-0.293l-3.453-3.453c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0 l2.746,2.746l6.853-6.853c0.391-0.391,1.023-0.391,1.414,0S22.098,12.316,21.707,12.707z"></path>
          </svg></div>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert world-creation-alert-box">
          <div class="alert_icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
            <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21.707,12.707l-7.56,7.56 c-0.188,0.188-0.442,0.293-0.707,0.293s-0.52-0.105-0.707-0.293l-3.453-3.453c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0 l2.746,2.746l6.853-6.853c0.391-0.391,1.023-0.391,1.414,0S22.098,12.316,21.707,12.707z"></path>
          </svg></div>
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div style="display: flex; flex-direction: column; align-items: center;">
  <% @shareable_worlds.each do |world| %>
    <div class="item_box world <%= world.world_name.split.join '_'%>">
      <div class="world-left">
      </div>
      <div class="world-center">
        <h3><%= world.world_name %></h3>
        <p>Code: <%= world.world_code %></p>
        <p>Max Players: <%= world.max_player %></p>
        <%= button_to 'Invite to world', users_send_invite_path(friend_id: @friend.id, world_id: world.id), method: :post, :remote => true, :class => "button" %>
      </div>
      <div class="world-right">
      </div>
    </div>
  <% end %>
</div>

<script>
    $(document).ready(function(){
        setTimeout(function(){
            $('#flash').fadeOut();
        }, 2000);
    })
</script>
</body>
</html>