<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Worlds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Create world</h1>
<%= form_tag "/worlds/add_world", :method => :post, :id => 'add_form' do %>
  <%= submit_tag 'CREATE', :id => 'add_button'%>
<% end %>

<%= yield %>

</body>
</html>