<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Worlds</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="world_body">
<div class="world_add_form">
  <%= form_tag "/worlds", method: :post, id: 'world_add_form' do %>
    <div>
      <label for="world_code">World Code:</label>
      <%= text_field_tag :world_code, nil, id: 'world_code' %>
    </div>
    <div>
      <label for="world_name">World Name:</label>
      <%= text_field_tag :world_name, nil, id: 'world_name' %>
    </div>
    <div>
      <label for="user_id">User ID:</label>
      <%= text_field_tag :user_id, nil, id: 'user_id' %>
    </div>
    <div>
      <label>Visibility:</label>
      <div>
        <label for="is_public">Public </label>
        <%= radio_button_tag :is_public, '1', true, id: 'is_public' %>
        <label for="is_private">Private</label>
        <%= radio_button_tag :is_public, '0', false, id: 'is_private' %>
      </div>
    </div>
      <label for="max_player">Max Players:</label>
      <%= number_field_tag :max_player, nil, id: 'max_player' %>
    <%= submit_tag 'Create World', id: 'add_button', class: "world_add_button"%>
  <% end %>
  <%= form_tag "/worlds", method: :get, id: 'return_form' do %>
      <%= submit_tag 'Return to Home', id: 'return_button', class: 'button'%>
    <% end %>
</div>
<%= yield %>
</body>
</html>