<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Worlds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="game_toolbar">
  <%= button_to 'Back to Worlds', worlds_leave_world_path(id: @world.id), method: :post, id: "leave_world_button", class: "secondary_button"%>
  <span class="world_id">World ID: <%= @world[:world_code] %></span>
  <span class="world_name">World Name: <%= @world[:world_name] %></span>
</div>
<%= yield %>

<div class="grid_container">
  <% (1..World.dim).each do |row| %>
    <% (1..World.dim).each do |col| %>
      <% if @data[row][col].image.attached? %>
        <div class="grid_cell filled_cell" >
          <% if row == @pos_row && col == @pos_col%>
            <div class="here"></div>
          <% end %>
          <%=image_tag(url_for(@data[row][col].image),class: "grid_image") %>
          <div class="hidden"><%=row%>-<%=col%></div>
        </div>
      <% elsif !@data[row][col].image.attached? %>
        <% if row == @pos_row && col == @pos_col%>
          <div class="here">You are here</div>
        <% end %>
        <div class="grid_cell filled_cell">
        <div>No image</div>
        <div class="hidden"><%=row%>-<%=col%></div>
        </div>
      <% end %>
      
    <% end %>
  <% end %>
  <div class="modal">
      <svg
                class = "x"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                strokeWidth="5"
                strokeLinecap="round"
                strokeLinejoin="round"
                width="24"
                height="24"
                className='x'
            >
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
    <h2></h2>
  </div>
</div>
</body>
</html>