<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Worlds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="game_toolbar">
  <%= button_to 'Back to Worlds', worlds_path, method: :get, id: "back_button", class: "secondary_button"%>
  <span class="world_id">World ID: <%= @world[:world_code] %></span>
  <span class="world_name">World Name: <%= @world[:world_name] %></span>
</div>

<%= yield %>

<div class="grid_container">
  <% max_rows = World.dim %> <!-- Adjust to your grid's total rows -->
  <% max_cols = World.dim %> <!-- Adjust to your grid's total columns -->

  <% (0...max_rows).each do |row| %>
    <% (0...max_cols).each do |col| %>
      <% gridsquare = @world.gridsquares.find { |gs| gs.row == row && gs.col == col } %>
      <div class="grid_cell <%= 'filled_cell' if gridsquare&.image&.attached? %>"
           style="grid-row: <%= row + 1 %>; grid-column: <%= col + 1 %>;">
        <% if gridsquare&.image&.attached? %>
          <%= image_tag rails_blob_path(gridsquare.image, only_path: true), alt: "Generated Image for Cell (#{row}, #{col})", class: "grid_image" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
</body>
</html>