<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Worlds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="toolbar">
  <%= button_to 'Back to Worlds', worlds_path, method: :get, id: "back_button", class: "button"%>
  <span class="world_id">World ID: <%= @world[:world_code] %></span>
  <span class="world_name">World Name: <%= @world[:world_name] %></span>
</div>
<%= yield %>

<div class="grid_container">
  <% @world.data.each_with_index do |row, row_index| %>
    <% row.each_with_index do |cell, col_index| %>
      <div class="grid_cell" data-row="<%= row_index %>" data-col="<%= col_index %>">
        <% if cell == "0" %>
          <div class="empty_cell"></div>
        <% else %>
          <div class="filled_cell"><%= cell %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
</body>
</html>