<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Worlds</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="game_toolbar">
  <%= button_to 'Back to Worlds', worlds_path, method: :get, id: "back_button", class: "secondary_button" %>
  <span class="world_id">World ID: <%= @world[:world_code] %></span>
  <span class="world_name">World Name: <%= @world[:world_name] %></span>
</div>

<%= yield %>

<div class="grid_container">
  <% (1..World.dim).each do |row| %>
    <% (1..World.dim).each do |col| %>
      <div class="grid_cell">
        <% grid_square = @data[row][col] %>
        <% if grid_square&.image&.attached? %>
          <!-- Display the image if attached -->
          <%= image_tag(url_for(grid_square.image), class: "grid_image") %>
          <p>Image found for cell <%= row %>-<%= col %></p>
        <% else %>
          <!-- Debug output if no image -->
          <p>No image attached for cell <%= row %>-<%= col %></p>
        <% end %>
        <div class="hidden"><%= row %>-<%= col %></div>
      </div>
    <% end %>
  <% end %>
</div>

</body>
</html>
