<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Worlds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="game_toolbar">
  <%= button_to 'Back to Worlds', worlds_leave_world_path(id: @world.id), method: :post, id: "leave_world_button", class: "secondary_button"%>
  <span class="world_id">World ID: <%= @world[:world_code] %></span>
  <span class="world_name">World Name: <%= @world[:world_name] %></span>
</div>
<%= yield %>

<div class="quest_container">
  <% if @quest && !@quest.completed %>
    <p>Quest: Go to cell with description "<%= @quest_description %>"</p>
  <% else %>
    <p>No active quests</p>
  <% end %>
</div>

<div class="grid_container">
  <% (1..World.dim).each do |row| %>
    <% (1..World.dim).each do |col| %>
      <% if @data[row][col].image.attached? %>
        <div class="grid_cell filled_cell" >
          <%= image_tag(url_for(@data[row][col].image), class: "grid_image") %>
          <div class="hidden"><%= row %>-<%= col %></div>
        </div>
      <% else %>
        <div class="grid_cell filled_cell">
          <div>No image</div>
          <div class="hidden"><%= row %>-<%= col %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @quest && !@quest.completed %>
  <div class="complete_quest_button_container">
    <%= button_to 'Complete Quest', complete_quest_path(@quest.id), method: :post, class: "complete_quest_button" %>
  </div>
<% end %>

</body>
</html>