<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Worlds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="game_toolbar">
  <%= button_to 'Back to Worlds', worlds_path, method: :get, id: "back_button", class: "secondary_button"%>
  <span class="world_id">World ID: <%= @world[:world_code] %></span>
  <span class="world_name">World Name: <%= @world[:world_name] %></span>
</div>
<%= yield %>

<div class="grid_container">
  <% @data.each do |row, value| %>
    <% @data[row].each do |col, cell| %>
      <% if cell.filled %>
          <div class="grid_cell empty_cell"></div>
        <% else %>
          <div class="grid_cell filled_cell"></div>
        <% end %>
    <% end %>
  <% end %>
</div>
</body>
</html>