<div class="purchase-box">
  <label for="shard_input" style="font-size: 30px">Conversion Rate</label>
  <label>Price per shard: <%= rate %> <%= currency %>/shard</label>
  <label>Total amount: <%= amount %> <%= currency %></text></label>
  <%= form_tag "/users/checkout", method: :post, id: 'checkout_button_form' do %>
    <input type="hidden" name="total_amount" id="total_amount" value="<%= amount %>"/>
    <input type="hidden" name="with_currency" id="with_currency" value="<%= currency %>"/>
    <input type="hidden" name="total_shards" id="total_shards" value="<%= num_of_shards %>"/>
    <%= submit_tag 'Proceed to Checkout', method: :post, id: 'checkout_button', class: "world_add_button"%>
  <% end %>
</div>