<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Path of the Chosen</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="profile_toolbar">
  <div class="center-stack">
    <h1 style="font-size: 35px; margin: 20px 10px 10px;">Path of the Chosen</h1>
  </div>
</div>

<div class="lower-div-after-nav">
  <div id="flash">
    <% if flash[:notice] %>
      <div class="alert world-creation-alert-box">
        <div class="alert_icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
          <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21.707,12.707l-7.56,7.56 c-0.188,0.188-0.442,0.293-0.707,0.293s-0.52-0.105-0.707-0.293l-3.453-3.453c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0 l2.746,2.746l6.853-6.853c0.391-0.391,1.023-0.391,1.414,0S22.098,12.316,21.707,12.707z"></path>
        </svg></div>
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
  <div class="world_add_form">
    <%= form_tag "/users/get-session", class: "form", method: :post do %>
      <h1 class="signup_text">Login</h1>
      <div class="spacer"></div>
      <div>
        <label for="user_name">Username:</label>
        <input type="text" name="user_name" id="user_name" class="full_width_respect_padding textbox">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="full_width_respect_padding textbox">
      </div>
      <button type="submit" class="highlight_button login">Log In</button>
      <a href="/users/new" style="text-decoration: none; margin-top: 10px"><button class="secondary_button login">Sign up</button></a>
      <a href="/users/forgot-password" style="text-decoration: none; margin-top: 10px"><button class="secondary_button reset">Forgot Password</button></a>
    <% end %>
  </div>
</div>

<script>
    $(document).ready(function(){
        setTimeout(function(){
            $('#flash').fadeOut();
        }, 2000);
    })
</script>
</body>
</html>