<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Purchase Plus User</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'purchase_plus_user', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="flash_messages">
    <% if flash[:notice] %>
      <div class="alert notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert"><%= flash[:alert] %></div>
    <% end %>
  </div>

  <div class="purchase-box">
    <h1>Purchase Plus User Access</h1>
    <p>Cost: 100 Shards</p>
    <%= form_tag "/users/purchase_plus_user", method: :post do %>
      <button type="submit" class="highlight_button">Purchase Plus User Access</button>
    <% end %>
  </div>
</body>
</html>