<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Purchase Plus User</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'purchase_plus_user', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="profile_toolbar">
  <div class="scroll-independent-div-tl">
    <%= button_to '<', "purchase", method: :get, id: "return_button", class: "big-circle-button"%>
  </div>

  <div class="center-stack">
    <h1 style="font-size: 35px; margin: 20px 10px 10px;">Shop</h1>
  </div>
  <div class="right-stack">
    <div class="box-numeric">
      <%= if @user.available_credits == nil
            0 else @user.available_credits end %>
    </div>
  </div>
</div>
<div class="lower-div-after-nav">
  <div id="flash_messages">
    <% if flash[:notice] %>
      <div class="alert notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert"><%= flash[:alert] %></div>
    <% end %>
  </div>

  <div class="purchase-plus-box">
    <h1>Purchase Plus User Access</h1>
    <p style="font-size: 20px">Cost: <b>100</b> Shards</p>
    <p style="font-size: 20px">With Plus User Access, you are able to create world with <b>more than 5</b> users be able to join!</p>
    <% if @user.plus_user? %>
      <p style="font-size: 20px">You already have Plus User access</p>
    <% else %>
      <%= form_tag "/users/purchase_plus_user", method: :post do %>
        <button type="submit" class="secondary_button" style="margin-bottom: 5px">Purchase Plus User Access</button>
      <% end %>
    <% end %>
    <%= button_to 'Back to Worlds', worlds_path, method: :get, class: "small_button highlight_button" %>
  </div>
</div>


</body>
</html>