<div class="floating-partial-box" id="cell-shop-box">
  <label for="shard_input" style="font-size: 30px; padding-bottom: 10px">Cell Shop</label>
  <% items.each_with_index do |item, index| %>
    <div class="row-container">
      <p class="item-description"><%= item.item_name %></p>
      <p class="item-description" style="font-weight: normal" id="amount_text_<%= index %>">Amount: 10</p>
      <button class="plus-minus-button" id="minus-button_<%= index %>" onclick="updateItemAmount(-1, <%= index %>)" disabled style="background-color: #6a7588">-</button>
      <span class="amount" id="amount_<%= index %>">0</span>
      <button class="plus-minus-button" id="plus-button_<%= index %>" onclick="updateItemAmount(1, <%= index %>)">+</button>
    </div>
  <% end %>
  <%= form_tag "", method: :post, id: 'buy_form' do %>
    <%= button_to 'Buy', "", method: :post, id: "buy_button", class: "accept_button"%>
  <% end %>

  <script>
      function updateItemAmount(change, index) {
          let currentAmount = parseInt(document.getElementById(`amount_${index}`).textContent, 10);
          currentAmount = Math.max(0, currentAmount + change);


          if (currentAmount === 0) {
              document.getElementById(`minus-button_${index}`).disabled = true
              document.getElementById(`minus-button_${index}`).style.backgroundColor = "#808391"
          } else {
              document.getElementById(`minus-button_${index}`).disabled = false
              document.getElementById(`minus-button_${index}`).style.backgroundColor = "#6fb2cd"
              document.getElementById("buy_button").disable = false
          }

          document.getElementById(`amount_${index}`).textContent = currentAmount.toString();
      }
  </script>
</div>