<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Path of the Chosen</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="<%= asset_path('logo.png') %>" type="image/x-icon">
</head>
<body>

<%= yield %>

</body>
</html>
